@font-face {
  font-family: 'Latam Sans';
  src: url("./Latam_Sans_Black_Italic.woff") format('woff');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Latam Sans';
  src: url("./Latam_Sans_Black.woff") format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Latam Sans';
  src: url("./Latam_Sans_Bold_Italic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Latam Sans';
  src: url("./Latam_Sans_Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Latam Sans';
  src: url("./Latam_Sans_Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latam Sans';
  src: url("./Latam_Sans_Regular_Italic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Latam";
  src: url("./Latam_Sans_Light_Italic.woff") format('woff');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Latam";
  src: url("./Latam_Sans_Light.woff") format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Latam";
  src: url("./Latam_Sans_Hairline_Italic.woff") format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Latam";
  src: url("./Latam_Sans_Hairline.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}

/* @font-face {
  font-family: "Latam";
  src: url("./Latam_Sans_Extended.woff") format('woff');
  font-weight: bolder; ??
  font-style: normal; ??
} */

